<!Doctype Html>
<html>
<head>
<title>Chitty the Bot</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="{{url_for('static',filename='css/bot.css')}}" rel="stylesheet">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
<script>
    
        
    $(function() {
			  $('a#process_input').bind('click', function() {
				$.getJSON('/respond', {
				  msg:document.getElementById('msgbox').value,
				}, function(data) {
				    //to run
				  addMessage(data.result);
				});
				return false;
			  });
			});
    
    function addMessage(data){
      var scr= document.getElementById("chatScreen");
     // var messageBody = document.querySelector('#chatScreen');
      msg = document.getElementById("msgbox").value
      //add user message cloud
      var div = document.createElement("div");
      var node = document.createTextNode(msg);
      div.appendChild(node);
      div.className="usrCloud";
      document.getElementById("msgbox").value="";
      scr.appendChild(div);
      scr.scrollTop = scr.scrollHeight - scr.clientHeight;
      
      // Jquery + Ajax Code to get bot reply without reloading page
      
      //add Bot reply Cloud asynchrnously
       
          setTimeout(function(){
          var div = document.createElement("div");
          var node = document.createTextNode(data);
          div.appendChild(node);
          div.className="botCloud";
          scr.appendChild(div);
          scr.scrollTop = scr.scrollHeight - scr.clientHeight;
          }, 1300);
          
        
      
      
      console.log("script executed")
    }
</script>
</head>
<body>
<div class="box" style="background-color:orange;color:white;">
    <center style="vertical-align:center">
        <img src="{{url_for('static',filename='img/4.png')}}" height="30px" width="30px" alt=""><br>
        <b>Chιττγ τhε βoτ</b>
    </center>
   
</div>
<div class="box" style="background-color:black">
    <div class="chatScreen" id="chatScreen">
        <br>
        <div class="botCloud">
            hi
        </div>
    </div>
    <form class="msgform">
        <div class="bottomBar">
        <input type="text" placeholder="Type a message" name="msgbox" id="msgbox">
        <a href='#' id='process_input'><button>Send</button></a>
        </div> 
    </form>
    
</div>
</body>
</html>